body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.main {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

h2 {
    text-align: center;
    color: #333;
}

.box {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.box:focus {
    border-color: #66afe9;
}

#submit {
    background-color: #66afe9;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #4cae4c;
}

/* Optional: Add media queries for responsive design */
@media (max-width: 768px) {
    .main {
        width: 90%;
    }
}
